<!doctype html>

<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
		<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	</head>
	<body>
		<div id='chart' class='chart'”>
			<script type='text/javascript'>
				var graphs = {{graph | safe}};
				Plotly.plot('chart',graphs,{});
			</script>
		</div>

		<div id='chart2' class ='chart2'>
			<script type='text/javascript'>
				var graphs2 = {{graph2 | safe}};
				Plotly.plot('chart2',graphs2,{});
			</script>
		</div>

		<div>
			<form method="post" class="buttons">
				<script type=text/javascript>
					var socketio = io();
					const update = () => {

					};
				</script>
				<div>
					<input type="date" id="start" name="start_date"
						value="{{start_date}}" onchange="">
		
					<input type="date" id="end" name="end_date"
						value="{{end_date}}">
				</div>
			</form>
		</div>
	</body>

	
	

	
	
</html>

