<!doctype html>

<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"/>
	</head>
    <form method="post" class="buttons">
        <div>
            <input type="date" id="start" name="start_date"
                value="2022-12-01">

            <input type="date" id="end" name="end_date"
                value="2022-12-10">
        </div>
        <div>
            <button type="submit" name="create_graph">Afficher la production</button>
        </div>
    </form>
	
</html>